

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

:root{
  --color: darkcyan;
  --color2: rgb(247, 77, 170);
  --white: #fff;
  --grey: rgb(136, 136, 136);
  --gradient: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  --box-shadow: 5px 20px 5px rgba(201, 69, 69, 0.309);
  --radius: 8px;
  --margin: 30px auto;
  --padding: 30px 20px;
  --width: 300px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: var(--gradient);
}

.card{
  background: var(--white);
  width: 300px;
  margin: 30px auto;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}

.card_title{
  font-size: 30px;
  color: var(--color2);
  margin-bottom: 20px;
}



.card_copy{
 color: var(--color);
 font-size: 1.4rem;
 margin: 20px auto;
}

.card_cta{
  display: inline-block;
  color: var(--color);
  text-decoration: none;
  padding: 12px 20px;
  background-image: var(--gradient);
  border-radius: calc(var(--radius) -5px);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.card2{
  background: var(--white);
  width: 300px;
  margin: 30px auto;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);

}

.bottom{
  display: inline-block;
  color: var(--color);
  text-decoration: none;
  padding: 12px 20px;
  background-image: var(--gradient);
  border-radius: calc(var(--radius));
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.bottom--black{
  background: black;
  color: #fff;
}

.bottom--linea{
  border: 2px rgb(0, 0, 0) solid;
  background: white;
  color: black;
}

.card:hover .bottom{
  transform: translateY(-10px);
  transition: 300ms;
}
.card2:hover .bottom{
  transform: translateY(-10px);
  transition: 300ms;
}

ul li{
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}


.nav{
  width: 100%;
  height: 100%;
  background-image: url(Imagenes/360_F_591976463_KMZyV6obpsrN2bJJJkYW0bzoH2XxLTlA.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.titulo {
 text-align: center;
 font-size: 60px;
}

ul{
  width: 100%;
  text-align: center;
  line-height: 50px;
  
}

li{
  padding-left: 30px;
}


a{
  
  text-decoration: none;
  color: black;
  font-size: 20px;

} 

.custom{
  height: 20px;
  width: 20px;
  
}

.formulario{
  height: 20px;
  width: 20px;
  
}

.tarjetas{
  height: 20px;
  width: 20px;
  
}

.galeria{
  height: 20px;
  width: 20px;
  
}


.custom:hover{
  background-image: url(Imagenes/54f01e941b397d2a4684e7ac6c3bf25e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
  color: white;
  transition: 300ms;

}

.tarjetas:hover{
  background-image: url(Imagenes/54f01e941b397d2a4684e7ac6c3bf25e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
  color: white;
  transition: 300ms;

}

.formulario:hover{
  background-image: url(Imagenes/54f01e941b397d2a4684e7ac6c3bf25e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
  color: white;
  transition: 300ms;

}

.galeria:hover{
  background-image: url(Imagenes/54f01e941b397d2a4684e7ac6c3bf25e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
  color: white;
  transition: 300ms;

}

